container_commands:
  01_migrate:
    command: "php artisan migrate --force"
    leader_only: true
  02_cache_clear:
    command: "php artisan config:clear && php artisan cache:clear"
    leader_only: true
  03_storage_link:
    command: "php artisan storage:link"
    leader_only: true
  04_optimize:
    command: "php artisan optimize"
    leader_only: true
  05_key_generate:
    command: "php artisan key:generate --force"
    leader_only: true
